<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="com.snipmetv.uploadfile"
    version="0.1.0">
    <name>MyPlugin</name>   
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="UploadFile">
                <param name="ios-package" value="UploadFile" /> 
            </feature>
        </config-file>
        <js-module src="www/UploadFile.js" name="UploadFile">
            <clobbers target="uploadfile" />
        </js-module>
        <header-file src="src/ios/UploadFile.h" />
	    <source-file src="src/ios/UploadFile.m" />
    </platform>
</plugin>